body {
    background-color: rgb(255, 255, 255);
    border: 2px rgb(102, 83, 231);
    padding: 30px;
  }
  h1 {
    color: rgb(0, 0, 0);
  }
  p {
    color: rgb(0, 0, 0);
  }



  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(251, 109, 232);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgba(255, 255, 255, 0.342);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgba(17, 17, 17, 0.299);
  }

  .active {
    background-color: #04AA6D;
    color: white;
  }

  