
/*
<style>
*/

    * {
        margin: 0;
        padding: 0;
    }
 
    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        position: sticky;
        top: 0;
        cursor: pointer;
    }
 
    .background {
        background: black;
        background-blend-mode: darken;
        background-size: cover;
    }
 
    .nav-list {
        width: 70%;
        display: flex;
        align-items: center;
    }
 
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
 
    .logo img {
        width: 180px;
        border-radius: 50px;
    }
 
    .nav-list li {
        list-style: none;
        padding: 26px 30px;
    }
 
    .nav-list li a {
        text-decoration: none;
        color: white;
    }
 
    .nav-list li a:hover {
        color: grey;
    }
 
    .rightnav {
        width: 30%;
        text-align: right;
    }
 
    #search {
        padding: 5px;
        font-size: 17px;
        border: 2px solid grey;
        border-radius: 9px;
    }
 
    .firstsection {
        background-color: rgba(83, 77, 191, 0.692);
        height: 400px;
    }
 
    .secondsection {
        background-color: blue;
        height: 400px;
    }

    .thirdsection {
      background-color: green;
      height: 400px;
  }

  .fifthsection {
      background-color: blue;
      height: 400px;
  }
  .sixthsection {
    background-color: green;
    height: 400px;
}

.seventhsection {
    background-color: blue;
    height: 400px;
}






 
    .box-main {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        max-width: 80%;
        margin: auto;
        height: 80%;
    }
 
    .firsthalf {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
 
    .secondhalf {
        width: 30%;
    }
 
    .secondhalf img {
        width: 70%;
        border: 4px solid white;
        border-radius: 150px;
        display: block;
        margin: auto;
    }
 
    .text-big {
        font-family: 'Piazzolla', serif;
        font-weight: bold;
        font-size: 35px;
    }
 
    .text-small {
        font-size: 18px;
    }
 
    .btn {
        padding: 8px 20px;
        margin: 7px 0;
        border: 2px solid white;
        border-radius: 8px;
        background: none;
        color: white;
        cursor: pointer;
    }
 
    .btn-sm {
        padding: 6px 10px;
        vertical-align: middle;
    }
 
    .section {
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 90%;
        margin: auto;
    }
 
    .section-Left {
        flex-direction: row-reverse;
    }
 
    .paras {
        padding: 0px 65px;
    }
 
    .thumbnail img {
        width: 250px;
        border: 2px solid black;
        border-radius: 26px;
        margin-top: 19px;
    }
 
    .center {
        text-align: center;
    }
 
    .text-footer {
        text-align: center;
        padding: 30px 0;
        font-family: 'Ubuntu', sans-serif;
        display: flex;
        justify-content: center;
        color: white;
    }

/*
  </style>
*/










/*
body {
    background-color: rgb(255, 255, 255);
    border: 2px rgb(102, 83, 231);
    padding: 30px;
  }
  h1 {
    color: rgb(0, 0, 0);
  }
  p {
    color: rgb(0, 0, 0);
  }



  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgba(141, 145, 242, 0.342);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  */
  
  /* Change the link color to #111 (black) on hover */

  /*
  li a:hover {
    background-color: rgba(17, 17, 17, 0.299);
  }

  .active {
    background-color: #04AA6D;
    color: white;
  }

  */
  
